<a href="https://colab.research.google.com/github/AnalystDhiren/AnalystDhiren/blob/main/landscapeprice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Landscape

In [ ]:
import cv2
import imutils

In [ ]:
import pandas as pd #loading dataset

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving landsdata.csv to landsdata.csv

load data set

In [ ]:
dataset = pd.read_csv('landsdata.csv')
dataset

     land       price
0    1000      2245.0
1    2000      4575.0
2    3000      6874.0
3    4000      8878.0
4    5000         NaN
5    6000     12457.0
6    7000     14785.0
7    8000     16785.0
8   10000   2078900.0
9   12000   4141015.0
10  14000   6203130.0
11  16000   8265245.0
12  18000  10327360.0
13  20000  12389475.0
14  22000  14451590.0

In [ ]:
print(dataset.shape)
print(dataset.describe())  #get overall info of data

(15, 2)
               land         price
count     15.000000  1.400000e+01
mean    9866.666667  4.137380e+06
std     6801.960502  5.244887e+06
min     1000.000000  2.245000e+03
25%     4500.000000  9.772750e+03
50%     8000.000000  1.047842e+06
75%    15000.000000  7.749716e+06
max    22000.000000  1.445159e+07

In [ ]:
dataset.isna().any()

land     False
price     True
dtype: bool

Data filling in Na values

In [ ]:
Datafill = dataset.price.fillna(dataset.price.mean())
Datafill

0     2.245000e+03
1     4.575000e+03
2     6.874000e+03
3     8.878000e+03
4     4.137380e+06
5     1.245700e+04
6     1.478500e+04
7     1.678500e+04
8     2.078900e+06
9     4.141015e+06
10    6.203130e+06
11    8.265245e+06
12    1.032736e+07
13    1.238948e+07
14    1.445159e+07
Name: price, dtype: float64

here we can see the data us not proper so we use median for the same operation

In [ ]:
Datafill = dataset.price.fillna(dataset.price.mode())
Datafill

0         2245.0
1         4575.0
2         6874.0
3         8878.0
4        12457.0
5        12457.0
6        14785.0
7        16785.0
8      2078900.0
9      4141015.0
10     6203130.0
11     8265245.0
12    10327360.0
13    12389475.0
14    14451590.0
Name: price, dtype: float64

segrate data with interquartile range

In [ ]:
precentile = dataset.price.quantile(0.1)

In [ ]:
precentile

5264.7

In [ ]:
datasetnooutliners = dataset[dataset.price<precentile]
datasetnooutliners

   land   price
0  1000  2245.0
1  2000  4575.0

In [ ]:
dataset.describe()

               land         price
count     15.000000  1.400000e+01
mean    9866.666667  4.137380e+06
std     6801.960502  5.244887e+06
min     1000.000000  2.245000e+03
25%     4500.000000  9.772750e+03
50%     8000.000000  1.047842e+06
75%    15000.000000  7.749716e+06
max    22000.000000  1.445159e+07